@use 'variables' as vars;

.form-label {
    margin-bottom: 1rem;
    @include vars.fontStyling(vars.$fontFamily !important, 16px, 600, #333333);
}

.form-label-required {
    &:after {
        content: " *";
        color: red;
    }
}

.form-text-info {
    @include vars.fontStyling(vars.$fontFamily !important, 13px, 500, #333333);
    font-style: italic;
}

.form-input {
    @include vars.fontStyling(vars.$fontFamily !important, 16px, 400, #333333);
    border-radius: 10px;
    padding: 1.5rem;
    border-color: #B1B1B1 !important;

    &:focus,
    &:hover {
        border-color: vars.$color-3 !important;
        color: black;
    }
}

.form-input-small {
    padding: .5rem 1rem;
    @include vars.fontStyling(vars.$fontFamily !important, 12px, 400, black);
}

.form-select {
    @include vars.fontStyling(vars.$fontFamily !important, 16px, 400, black);
    border-radius: 10px;
    border-color: #B1B1B1 !important;
    height: 50px !important;

    &:focus,
    &:hover {
        border-color: vars.$color-3 !important;
        color: black;
    }
}

.form-select-small {
    @include vars.fontStyling(vars.$fontFamily !important, 13px, 400, black);
    height: 45px !important;
}

.form-is-invalid {
    border-color: vars.$bg-danger !important;
    color: vars.$bg-danger !important;

    &:focus,
    &:hover {
        border-color: vars.$bg-danger !important;
        color: black;
    }
}